*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      background-color: rgb(24, 24, 24);
      font-family: sans-serif;
      scroll-behavior: smooth;
  }
  .container{
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(26, 26, 26);
      text-transform: capitalize;
  }
  .container h2{
      color: #ffffff ;
      font-size: 30px;
      padding-left: 20px ;
      text-decoration: none;
  }
   .logo a{
      text-decoration: none;
   }
  span{
      color: rgb(224, 16, 16);
  }
  img{
      width: 200px;
      padding-right: 40px ;
  }
  nav ul {
     list-style-type: none;
     color: #ffffff;
     padding-right: 30px;
  }
  nav ul li{
      display: inline-block;
  }
  nav ul li a{
      text-decoration: none;
      color: #ffffff;
      letter-spacing: 2px;
      transition: 0.6s;
      margin: 5px;
  }
  nav ul li a:hover{
      color: rgb(207, 16, 16);
  }
   .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
   }

   .card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
   }
   .card:hover{
    transform: scale(1.1);
   }

   .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
   }
    .icon a{
        color: #3a6cf4;
        text-decoration: none;  
    }
   .info{
    text-align: center;
   }

   .info h3{
     color: #3a6cf4;
     font-size: 1.2em;
     font-weight: 700;
     margin: 10px;
   }
   .info a{
    text-decoration: none;
    color: #111;
   }
   .cardscontant h2{
     text-align: center;
     margin-top: 20px;
     color: #3a6cf4;
   }
   .cardscontant h2 span{
    color:#c5c5c5 ;
   }